html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font);
}

/* stylelint-disable */

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* stylelint-enable */

.highlight {
  background-color: var(--backgroundColor);
}
