@import 'vars.css';

@media (min-width: 605px) {

  .layout {
    display: grid;
    grid-template-columns: 9fr 16fr;
    grid-template-areas: 'header cart' 'items cart';
    grid-template-rows: 15rem auto;
    height: 100%;
  }

  .header {
    grid-area: header;
    background-image: none;
    height: 100%;
  }

  .header__titles {
    padding: var(--mediumSpacer);
  }

  .content {
    grid-area: cart;
  }

  .prices {
    height: 100%;
    background-image: url(../assets/img/plan-based-coffee.png);
    background-repeat: no-repeat;
    background-position: center 80%;
  }

  .prices__list {
    margin: var(--smallSpacer) auto 0 auto;
    grid-area: items;
    width: 70%;
    display: block;
  }

  .price {
    margin: 0 auto;
    margin-bottom: var(--smallSpacer);
    width: 100%;
  }
}
